* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drop {
  filter: drop-shadow(5px 5px 4px #000);
}

li a {
  text-decoration: none;
  color: #000000;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
  background: #a3bbde;
}

.active {
  color: #f2f2f2;
  background: #FF7528;
}
